@using CompanyManagement.Application.Project.Commands;
@model CompanyManagement.Application.Department.Commands.EditDepartment.EditDepartmentCommand

@{
    ViewData["Title"] = "Edit";
}

<a href="@Url.Action("Index")" class="btn btn-link mb-1">
    <i class="bi bi-arrow-left-short align-middle fs-2"></i>
</a>
<h1 class="mt-2">Edit @Model.Name</h1>

<div class="d-flex ">
 <form asp-action="Edit" class="w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
 </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
